*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* UTILITIES */
ul{
    list-style-type: none;
}

.mlr-10{
    margin: 0 10px;
}

.mlr-20{
    margin:0 20px;
}

.mlr-5{
    margin: 0 5px;
}

.p-10{
    padding: 10px;
}

.gray{
    color: gray;
}

.inline-b{
    display: inline-block;
}

.flex{
    display: flex;
}
/* -------------- */
.windows-background{
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    position: absolute;
    z-index: -1;
}

.windows-background-up{
    width: 100vw;
    height: 15vh;
    background-color:  rgb(30,190,165);
}


.big-container{
    width: 96%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 90vh;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.left-col{
    width: 30%;
    height: 100%;
}

.chat-block{
    width: 70%;
    height: 100%;
}

.user-status, .contact-info{
    height: 60px;
    background-color: rgb(237,237,237);
    display: flex;
}

img{
    width: 50px;
    margin: 5px;
    border-radius: 50%;
}

.grow{
    flex-grow: 1;
}

.user-status-icons{
    padding: 26px;
    align-items: center;
    border-right: 2px solid rgb(187, 176, 176);
}

.alert{
    height: 80px;
    background-color: rgb(19, 237, 245);
    display: flex;
    align-items: center;
}

.notify{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    margin-left: 15px;
    padding: 4px;
}

.notify i {
    color: rgb(19, 237, 245);
}

.search-chat{
    height: 40px;
    background-color:  rgb(237,237,237);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-chat > input{
    width: 80%;
    height: 60%;
    border-radius: 24px;
    border: none;
}

.chat-list{
    cursor: pointer;
    height: calc(100% - 180px);
    overflow: auto;
}

.selected{
    background-color: lightgray;
}

.contact-name{
    padding: 10px;
}

.chat-box{
    background-image: url("../imgs/mine.jpg");
    height: calc(100% - 60px - 60px);
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.row-messages{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cloud-message{
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 20%;
    position: relative;
    margin: 10px;
}

.cloud-message:hover i{
    display: block;
    opacity: 0.7;
}

.green{
    background-color: lightgreen;
    align-self: flex-end;
}

.green::after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 10px 0 10px;
    border-color: lightgreen transparent transparent transparent;
    position: absolute;
    right: -10px;
    top: 0;
}

.white{
    background-color: white;
    align-self: flex-start;
}

.white::after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 10px 0px 10px;
    border-color: white transparent transparent transparent;
    position: absolute;
    left: -10px;
    top: 0;
}

.popup{
    position: absolute;
    width: 180px;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.424);
    background-color: white;
    overflow: hidden;
    top: 19px;

}

.green .popup{
    right: 11px;
}

.white .popup{
    left: 160px;
}

.popup ul {
    margin: 0;
    list-style: none;
}

.popup ul li {
    padding: 10px 15px;
}

.popup ul li:hover{
    background-color: rgb(233, 231, 231);
}

.popup-activator{
    position: absolute;
    top: 0;
    right: 7px;
    display: none;
}
.write-message{
    height: 60px;
    background-color:  rgb(237,237,237);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hour-message{
    font-size: 11px;
    display: flex;
    justify-content: flex-end;
}

.text-message{

    width: 90%;
    height: 60%;
    border-radius: 24px;
    border: none;
}
