<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body>
    <div id="app">

    <!-- sfondo -->
        <div class="windows-background">
            <div class="windows-background-up"></div>
        </div>

    <!-- blocco centrale -->
        <main class="big-container">

    <!-- colonna chat -->
            <section class="left-col">
                <div class="user-status">
                    <div class="user-status-img">
                        <img src="imgs\avatar_1.jpg" alt="">
                    </div>
                    <div class="grow"></div>
                    <div class="user-status-icons flex">
                        <i class="fa fa-circle-o-notch  gray" aria-hidden="true"></i>
                        <i class="fa fa-comment  mlr-20 gray" aria-hidden="true"></i>
                        <i class="fa fa-ellipsis-v  gray" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="alert">
                    <div class="notify">
                        <i class="fa fa-bell-slash-o fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="p-10">
                        <b>Ricevi le notifiche di nuovi messaggi</b>
                        <br>
                        <a href="#"> Attiva notifiche desktop</a>
                    </div>
                </div>

                <div class="search-chat">
                    <label class="">
                        <i class="fa fa-search mlr-5" aria-hidden="true"></i>
                    </label>
                    <input type="text" placeholder=" Cerca o inizia una nuova chat" v-model="searchText" @input="onInput">
                </div>

            <!-- lista chat -->
                <div class="chat-list">
                    <ul>
                        <li v-for="(item, index) in usersList" @click="selectContact(index); chatOpen() " :class=" {'selected' : index == activeUser }">
                            <div class="inline-b">
                                <img :src="getAvatarPath(item.avatar)" alt="img">
                            </div>
                            <div class="inline-b">
                                <p class=""><strong>{{item.name}}</strong></p>
                                <p>Non ci sono messaggi</p>
                            </div>
                        </li>
                    </ul>
                </div>

            </section>

    <!-- chat -->

            <!-- barra di stato -->
            <section class="chat-block ">

                <div class="contact-info flex">
                    <div class="">
                        <img :src="getAvatarPath(usersList[activeUser].avatar)" alt="">
                    </div>
                    <div class="contact-name">
                        <strong>{{ usersList[activeUser].name }}</strong>
                        <br>
                        <p>Ultimo accesso alle {{ activeUserLastAcces }}</p>
                    </div>
                    <div class="grow"></div>
                    <div class="user-status-icons flex">
                        <i class="fa fa-search gray" aria-hidden="true"></i>
                        <i class="fa fa-paperclip mlr-20 gray" aria-hidden="true"></i>
                        <i class="fa fa-ellipsis-v  gray" aria-hidden="true"></i>
                    </div>
                </div>
        <!-- chat box -->
                <div class="chat-box">
                    <div v-for="message in usersList[activeUser].messages" class="row-messages">
                        <div :class=" message.status === 'sent'? 'green' : 'white' " class="cloud-message">
                            {{message.text}}
                            <p class="hour-message">{{formatTime(message.date)}}</p>
                        </div>
                    </div>
                </div>
            
        <!-- invio messaggio -->
                <div class="write-message">
                    <label for="">
                        <i class="fa fa-smile-o fa-2x mlr-10" aria-hidden="true"></i>
                    </label>
                    <input type="text" placeholder="  Scrivi un messaggio" class="text-message">
                    <label for="">
                        <i class="fa fa-paper-plane mlr-10 gray" aria-hidden="true"></i>
                    </label>
                </div>
            </section>

        </main>

    </div>

    <script src="scripts/data.js"></script>
    <script src="scripts/app.js"></script>
</body>

</html>